[build]
  publish = "public/"
  command = "npm run build"

[functions]
  directory = "netlify/functions"

[[plugins]]
  # Installs the Lighthouse Build Plugin for all deploy contexts
  package = "@netlify/plugin-lighthouse"


[[plugins]]
  package = "netlify-plugin-cache"

  [plugins.inputs]
  paths = [
    "public/assets/images",
    ".cache"
  ]

[build.environment]
  NODE_VERSION = "18"