<footer class="bg-black p-0 text-white">
  <div class="m-auto flex plc prc max-md:px-8">
    <div class="flex-auto py-3">
      <img
        alt="copyright icon"
        decoding="async"
        height="20"
        loading="eager"
        src="/assets/svgs/copyright-light.svg"
        width="20"
        class="inline-block"
      />
      copyright 2025
    </div>
    <div class="flex-right py-3">
      <a href="https://matfix.cz" target="_blank" title="Matfix"
        ><img
          alt="matfix icon"
          decoding="async"
          height="15"
          loading="eager"
          src="/assets/svgs/matfix_test_black.svg"
          width="58"
          class="inline-block"
      /></a>
      <img
        alt="footer icon"
        decoding="async"
        height="20"
        loading="eager"
        src="/assets/svgs/tvorba_paticka.svg"
        width="20"
        class="inline-block"
      />
    </div>
  </div>
</footer>
