{% extends "layouts/base.njk" %} {% block head %}

<!-- Script for Netlify Identity -->
<script
  defer
  src="https://identity.netlify.com/v1/netlify-identity-widget.js"
></script>
<!-- Netlify Identity configuration -->
<script defer src="/assets/js/identity.js"></script>

<!-- To ensure proper validation, prevent errors, and encourage developers to check, schema's are an opt-in feature. They're very bespoke and requires some customising  -->
<!-- Uncomment the code below to enable Structured Data, and test it when you deploy to Netlify - https://developers.google.com/search/docs/appearance/structured-data -->
{% include "components/home-schema.njk" %} {% endblock %} {% block body %}

<section
  style="
    background-image: url('/.netlify/images?url=/assets/images/person-working-wood-working-industry-factory.jpg&w=1600');
  "
  class="flex h-[420px] lg:h-[575px] flex-col bg-cover bg-center"
>
  <div
    class="flex h-full relative items-center lg:plc2 lg:prc2 plc prc max-md:px-12 bg-background bg-opacity-80"
  >
    <p
      class="max-w-[535px] text-2xl md:text-3xl leading-7 md:leading-snug line text-left absolute bottom-[100px] md:bottom-[90px]"
    >
      <b>Vyplňte nezávazně krátký formulář</b> a&nbsp;my&nbsp;vám připravíme
      nabídku přesně podle vašich požadavků a&nbsp;preferencí. Rychle, jednoduše
      a&nbsp;na&nbsp;míru.
    </p>
  </div>
</section>

<section id="poptavka" class="plc prc">
  <div class="plc prc pt-8 pb-48">
    <div class="lg:plc2 lg:prc2 mt-12">
      <form
        id="form-2"
        name="poptavka"
        method="POST"
        data-netlify="true"
        netlify-honeypot="bot-field"
        class="max-w-md space-y-4"
        action="/poptavka-odeslana/"
      >
        <!-- povinné pro Netlify -->
        <input
          type="hidden"
          name="form-name"
          value="poptávka"
          data-netlify-name="Poptávka"
        />
        <input type="hidden" name="bot-field" />
        <input type="hidden" name="jmeno" data-netlify-name="Jméno" />
        <input type="hidden" name="telefon" data-netlify-name="Telefon" />
        <input type="hidden" name="mail" data-netlify-name="E-mail" />
        <input type="hidden" name="id" data-netlify-name="Id" />

        <fieldset class="grid-cols-4">
          <legend>Délka polen s tolerancí +-3 cm *</legend>
          <label>
            <input
              type="radio"
              name="delka"
              value="25 cm"
              required
              data-netlify-name="Délka"
            />
            <span>25 cm</span>
          </label>
          <label>
            <input type="radio" name="delka" value="33 cm" />
            <span>33 cm</span>
          </label>
          <label>
            <input type="radio" name="delka" value="40 cm" />
            <span>40 cm</span>
          </label>
          <label>
            <input type="radio" name="delka" value="50 cm" />
            <span>50 cm</span>
          </label>
        </fieldset>

        <fieldset class="grid-cols-3">
          <legend>Jaké dřevo si přejete? *</legend>
          <label>
            <input
              type="radio"
              name="drevo"
              value="měkké"
              required
              data-netlify-name="Dřevo"
            />
            <span>Měkké *</span>
          </label>
          <label>
            <input type="radio" name="drevo" value="polotvrdé" />
            <span>Polotvrdé **</span>
          </label>
          <label>
            <input type="radio" name="drevo" value="tvrdé" />
            <span>Tvrdé ***</span>
          </label>
          <p class="col-span-3">
            * smrk, borovice / ** bříza, olše / *** dub, buk
          </p>
        </fieldset>

        <fieldset class="grid-cols-3">
          <legend>Suchost dřeva *</legend>
          <label>
            <input
              type="radio"
              name="suchost"
              value="suché"
              required
              data-netlify-name="Suchost"
            />
            <span>Suché *</span>
          </label>
          <label class="col-span-2">
            <input type="radio" name="suchost" value="čerstvé" />
            <span>Čerstvé **</span>
          </label>
          <p class="col-span-3">
            * dřevo vhodné pro letošní zimu<br />
            ** dřevo vhodné pro další zimu
          </p>
        </fieldset>

        <fieldset class="grid-cols-3">
          <legend>Doprava *</legend>
          <label>
            <input
              type="radio"
              name="doprava"
              value="vlastní"
              required
              data-netlify-name="Doprava"
            />
            <span>Vlastní *</span>
          </label>
          <label class="col-span-2">
            <input type="radio" name="doprava" value="smluvní dopravce" />
            <span>Smluvní dopravce **</span>
          </label>
          <p class="col-span-3">
            * zákazník si zajistí odvoz sám<br />
            ** dopravu zajistí smluvní firma dle jejich ceníku
          </p>
          <input
            type="text"
            name="adresa"
            data-netlify-name="Adresa"
            placeholder="Adresa kam chcete dřevo dovézt"
            class="col-span-3"
          />
        </fieldset>

        <fieldset class="grid-cols-1">
          <legend>Kolik prms si přejete? *</legend>
          <input
            type="number"
            name="mnozstvi"
            data-netlify-name="Množství prms"
            placeholder="Uveďte množství dřeva v prms"
            inputmode="numeric"
            pattern="[0-9]*"
            required
          />
        </fieldset>

        <fieldset class="grid-cols-1">
          <legend>Poznámka</legend>
          <textarea
            name="poznamka"
            data-netlify-name="Poznámka"
            placeholder="Pokud si přejete něco doplnit nebo Váš požadavek není ve formuláři, napište nám to sem."
            class="h-40"
          ></textarea>
        </fieldset>

        <div class="w-full">
          <button
            type="submit"
            class="bg-secondary items-center m-auto md:m-0 gap-8 p-4 border-secondary text-white font-bold flex text-2xl"
          >
            <span><u>Nezávazně</u> poptat</span>
            <img
              class="ml-auto w-6 h-6"
              src="/assets/svgs/Button_arow_right.svg"
            />
          </button>
        </div>
      </form>
    </div>
  </div>
</section>

{% endblock body %}
