/* admin/custom-header.css */

/* skryje původní text odkazu */
header > div > div > a {
  font-size: 0px !important;
  line-height: 0 !important;
  display: inline-flex;
  align-items: center;
}

/* vloží logo */
header > div > div > a::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url("/assets/svgs/Padreza_logo.svg") no-repeat center;
  background-size: contain;
}
